body {
    font-family: "Inconsolata";
    font-size: 10pt;
    margin: 0;
    padding: 30px 32px 32px 0;
    font-size: 10pt;
    line-height: 1.25;    
    background-color: white;
}
a, a:visited {
    color: black;
    text-decoration: none;
    font-weight:bold;
    padding-right:75px;
    padding-left:100px;
line-height:400%;


    
}
a:hover {
    text-decoration:line-through;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 10pt 0;
}
h2 {
    margin: 0 0 0 0;    
    font-size: 10pt;
    font-weight: normal;
}
strong {
    font-weight: normal;
    color: black;
}
#container {
    width: 900px;
    height: auto;
    margin: 32px 32px;
    background-color: transparent;
}
.gallery {
    margin-bottom:32px;    
}
.slideshow {
    width: 800px;   
    position: relative;
    height:600px;
        bottom:0px;
}
.slideshow .item {
    display: none;
    position: relative;
    overflow: hidden;
    width: 800px;
    height:100%;

}
.slideshow .item img {
    width: 100%;
    position: absolute;
    bottom:0;
}
.slideshow .controls a {
    border-bottom: none;
 padding: 0 0 0 0;
 position:inherit;

}
.slideshow .controls {
    width:800px;
    text-align:right;
}
.gallery .list {
    
}
.gallery .list .item {
    width: 800px;
    
}
.gallery .list img {
    width: 800px;
}
.gallery .thumbnails {
    
}
.gallery .thumbnails .item {
    height: 100px;
    margin: 0 20px 20px 0;
    float: left;    
}
.gallery .thumbnails img {
    height: 100%;
}
#content {
    width:1200px;
    text-align:left;
}

#post-title {
    text-align:left;
    margin-top:30px;
     margin-right:30px;
    width: 400px;
    height:500px;
    float:left;
    clear: both;
    
}

#post-content p {
    text-align:left;
    margin-top:30px;
    width: 600px;
    float:left;
}

#post-content a {
        padding: 0 0 0 0;
    line-height:100%;

}

#related-posts {
    width:600px;
    float:left;
    margin: 0 0 100px;
}

#related-posts a {
    float:left;
    text-decoration:none;
    font-weight:normal;
    text-align:left;
    width:300px;
     padding: 0 0 0 0;
         line-height:100%;


}

#related-posts a:hover {
    text-decoration:line-through;

}


#header {
    margin: 0 0 70px 0;
                     padding: 0 0 0 0;


}
h1 {
    font-size: 15pt;
    text-transform:uppercase;
    font-weight: bold;
    display: inline;

}
#header a {
    color: black;
                     padding: 0 0 0 0;



    
}
h1 a span {
    color: black;
}

h2 {
    text-transform:uppercase;
    font-weight:bold;
    
}

h3 {
    font-weight:bold;
    font-size:10pt;
    margin-bottom:2px;
}

#tag_navigation a {
line-height:100%;
}
#navigation {
    clear: both;
    padding: 0 0 0 0;
    line-height:100%;

}
#navigation a {
     padding: 0 0 0 0;
         line-height:100%;

}
a.highlight {
    text-transform: uppercase;
    font-size:11pt;
    text-decoration:underline;
}