{% extends "base.html" %}

{% load render_project_gallery %}

{% block title %}{{ block.super|title }} ⊿ {{ project.name|title }}{% endblock title %}

{% block content %}

<div class="gallery">
{% render_project_gallery project %}
</div>

<div id="post-title">
    <h2>{{ project.name }}</h2>
    <p>
        {{ project.medium }}, {{ project.project_time }}.<br />
        {{ project.material }}<br />
        {{ project.dimensions }}
    </p>
</div>
<div id ="post-content">
    {{ project.content|safe }}
</div>
{% if project.related_projects.all %}
<div id ="related-posts">
    <h3>correlated with:</h3>
    {% for related_project in project.related_projects.all %}
    <a href="">{{ related_project.name }}</a>
    {% endfor %}
</div> 
{% endif %}

{% endblock content %}


{% block navigation %}
<div id="navigation">
    <a href="{% url 'project-list' %}">home</a><br />
    <a href="{% url 'statement' %}">statement</a><br />
    <a href="{% url 'bio' %}">bio & contact</a><br />
</div>
{% endblock navigation %}