{% extends "base.html" %}

{% load render_project %}

{% block title %}{{ block.super|title }} -- {{ project.name|title }}{% endblock title %}

{% block content %}

<div class="gallery">
    {% for vimeo in project.vimeos.all %}
        <div class="item">{{ vimeo.media|safe }}</div>
    {% endfor %}
    {% for image in project.images.all %}
        <div class="item"><img src="{{ image.media.url }}" alt="{{ project.name }}: {{ image.media.name }}" /></div>
    {% endfor %}
    {% if project.gallery_items_count > 1 %}
    <div class="controls">
        {% url 'project-detail' slug=project.slug as project_url %}                
        <a class="back" href="{{ project_url }}">back</a>
        <a class="next" href="{{ project_url }}">forth</a>
    </div>
    {% endif %}            
</div>

<div id="post-title">
    <h2>{{ project.name }}</h2>
    <p>
        {{ project.medium }}, {{ project.project_time }}.<br />
        {{ project.material }}<br />
        {{ project.dimensions }}
    </p>
</div>
<div id ="post-content">
    {{ project.content|safe }}
</div>
{% if project.related_projects.all %}
<div id ="related-posts">
    <h3>correlated with:</h3>
    {% for related_project in project.related_projects.all %}
    <a href="">{{ related_project.name }}</a>
    {% endfor %}
</div> 
{% endif %}

{% endblock content %}


{% block navigation %}
<div id="navigation">
    <a href="{% url 'project-list' %}">home</a><br />
    <a href="{% url 'statement' %}">statement</a><br />
    <a href="{% url 'bio' %}">bio & contact</a><br />
</div>
{% endblock navigation %}