{% extends "base.html" %}

{% block tag_navigation %}
{% for tag in navigation_tagbag.tags.all %}
    <a href="{{ tag.name }}" id="{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}
{% endblock %}

{% block content %}
<div id="project_list">
{% for project in projects %}
    <a href="{% url 'project-detail' slug=project.slug %}" class="{{ project.tag_class_list }}">{{ project.name|safe }}</a>
{% endfor %}
</div>

<div id="experiment_list">
{% for experiment in experiments %}
<h1>@@@@</h1>
    <a href="{% url 'experiment-detail' slug=experiment.slug %}" class="{{ experiment.tag_class_list }}">{{ experiment.name|safe }}</a>
{% endfor %}
</div>

{% endblock content %}